<div class="cold-md-5" style="display: flex">
    <a class="nav-link active" aria-disabled="true" href="@Url.Action("Index", "Productos")">
        <div>
            <i class="fa-regular fa-pen-to-square"></i>
        </div>
        ABM Productos
    </a>
    <a class="nav-link active" aria-disabled="true" href="@Url.Action("Index", "Usuarios")">
        <div>
            <i class="fa-solid fa-users"></i>
        </div>
        ABM Usuarios
    </a><a class="nav-link active" aria-disabled="true" href="@Url.Action("Index", "Proveedores")">
        <div>
            <i class="fa-solid fa-helmet-safety"></i>
        </div>
        ABM Proveedores
    </a>
</div>